:root {
    --c0: #ffffff;
    --c1: #ff8274;
    --c2: #d53c6a;
    --c3: #7c183c;
    --c4: #460e2b;
    --c5: #31051e;
    --c6: #1f0510;
    --c7: #130208;
}

@font-face {
    font-family: VT323;
    src: url('VT323-Regular.ttf');
}

@font-face {
    font-family: NokiaC22;
    src: url('nokiafc22.ttf');
}

@font-face {
    font-family: GothicPixels;
    src: url('GothicPixels.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--c5);
    font-family: VT323, NokiaC22;
    font-size: small;
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    position: relative;
    z-index: 1;
}

.bgbar {
    width: 100%;
    height: 8px;
    position: relative;
    z-index: -1;
}

.bar1 {
    background-color: var(--c1);
}

.bar2 {
    background-color: var(--c2);
}

.bar3 {
    background-color: var(--c3);
}

.bar4 {
    background-color: var(--c4);
}

.banner {
    /* background-color: #130208; */
    /* color: rgba(1, 1, 1, 0); */
    font-family: GothicPixels;
    text-transform: uppercase;
    color: var(--c6);
    font-size: 24px;
    text-align: left;
    position: absolute;
    width: 100%;
    padding-left: 4px;
    top: 4px;
    left: 0;
}

.container {
    background-color: var(--c5);
    width: 100%;
    display: grid;
    justify-content: center;
}

.content {
    color: var(--c1);
    margin: 4px;
    padding: 1px;
    max-width: 1080px;
}

.content>* {
    margin: 0;
}

.content>h1,
h2,
h3,
h4,
h5 {
    color: #d53c6a;
}

.content>p {
    text-align: justify;
}

.modal {
    /* background-color: #ff827459; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.modal > .button-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1080px;
}

.modal > .button-bar > ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.modal > .button-bar > ul > li {
    flex: 1;
    display: flex;
    justify-content: center;
}